@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Rent a car<br />
    Cluj-Napoca, Cluj <br />
    Str. Constanta Nr. 30 <br />
    <abbr title="Phone">P:</abbr>
    0756291322
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gabrielfirisar@gmail.com">gabrielfirisar@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:gabrielfirisar@gmail.com">gabrielfirisar@gmail.com</a>
</address>